{
	"$schema": "node_modules/wrangler/config-schema.json",
	"name": "attackforge-events-worker",
	"main": "src/index.js",
	"compatibility_date": "2025-02-24",
  "workers_dev": true,
  "preview_urls": false,
  "vars": {
    "HOSTNAME": "<your-subdomain>.attackforge.io", // your subdomain on attackforge.io
    "EVENTS": "vulnerability-updated,project-updated" // comma separated list of events to listen to (change it to what you need)
  },
  "kv_namespaces": [
    {
      "binding": "WORKER_STATE",
      "id": "<KV_ID>" // your KV namespace ID
    }
  ],
  "triggers": {
    "crons": ["*/2 * * * *"] // cron run every 2 minutes
  },
	"observability": {
		"enabled": true
	}
}
