{
  "$schema": "node_modules/wrangler/config-schema.json",
  "name": "attackforge-events-worker",
  "main": "src/index.js",
  "compatibility_date": "2025-02-24",
  "workers_dev": true,
  "preview_urls": false,
  "vars": {
    "HOSTNAME": "<your-subdomain>.attackforge.io",
    "EVENTS": "vulnerability-updated,project-updated"
  },
  "kv_namespaces": [
    {
      "binding": "WORKER_STATE",
      "id": "<KV_ID>"
    }
  ],
  "triggers": {
    "crons": [
      "*/2 * * * *"
    ]
  },
  "observability": {
    "enabled": true
  }
}